
.auth-content{
    display:inline-block;
    width: 389px;
}
.auth-form{
    background: #FFFFFF;
    box-shadow: 0px 21px 48px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
        font-family: 'Montserrat';
    font-style: normal;
        margin-left: 35rem;
        font-size: 24px;
        text-align: left;
        float: left;
        position: relative;
        display: block;
        width: 590px;
        height: 590px;
        margin-bottom: 40px;
}
.auth-content form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.hed{

    font-family: 'Montserrat';
    font-style: normal;
    margin-top: 20px;
    text-align: center;

}
.inputForm::placeholder{
 font-size: 1rem;
}
.inputForm{
    font-size: 24px;
    font-family: 'Montserrat';
font-style: normal;
    width: 389px;
height: 65px;
margin-top: 1rem;
margin-bottom: 1rem;
background: #FFFFFF;
border: 1px solid #9700F7;
border-radius: 20px;
}
.reg{
    position: relative;
    text-align: center;
    left: 569px;
    padding-top: 10rem;
    text-align: center;
}
.button-auth{
    width: 288px;
height: 81px;
display: inline;
font-family: 'Montserrat';
font-style: normal;

font-size: 32px;
justify-content: center;
background: #9700F7;
border-radius: 9px;
margin-left: 45rem;
}